@import "variables";
@import "generales";

/* L A Y O U T--G R I D--I N D E X */

@mixin sizesHeader($width, $height){
    height: $height;
    width: $width;
}

header{
    @include sizesHeader(100%, 15vh);
    background-color: $color;
    grid-area: "header";
}

footer{
    background-color: $color;
    color: aliceblue;
    grid-area: "footer";
}

.seccion1{
    grid-area: "seccion1";
}

.seccion2{
    grid-area: "seccion2";
}

.seccion3{
    grid-area: "seccion3";
}

.bodyGrids{
    width: 100%;
    display: grid;
    grid-template-areas:
        "header"
        "seccion1"
        "seccion2"
        "seccion3"
        "footer"
    ;
    
}

/* S E C C I O N E S--I N D E X*/

h2{
    text-align: center;
    padding-bottom: 1.5em;
    font-weight: bold;
}

h3{
    @extend h2;
}

.paddingtop{
    padding-top: 1em;
}

.articulo1{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2em;
}

.fondoOscuro{
    background-color: black;
    box-shadow: 2px 2px 8px 4px #8c8c8cd1;
}

.articulo2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    align-items: center;
    justify-items: center;
    }
    
    .div1 { grid-area: 1 / 1 / 2 / 2; }
    .div2 { grid-area: 2 / 1 / 3 / 2; }
    .div3 { grid-area: 1 / 2 / 3 / 3; }

.div1{
    padding: 2em;
}

.div2{
    padding-left: 1.5em;
    padding-bottom: 4.5em;
}



/* M E D I A--Q U A R I E S--I N D E X */

@media screen and (min-width: 600px)
{

    body{
        font-size: 1em;
    }

    #check{
        display: none;
    }

    .bar-btn{
        display: none;
    }

    .encabezado{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        height: 25vh;
    }

    nav ul li{
        display: inline;
        margin: 0.5em;
    }

    .articulo1{
        margin: 2em;
    }

    .articulo2{
        margin: 2em;
    }

    .footerFlex{
        height: 25vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .datosPagina{
        margin-left: 1em;
    }
    
    
}

@media screen and (min-width: 1024px) 
{

    .encabezado{
        height: 20vh;
        width: 100%;
        display: flex;
        flex-direction: row;
        
    }

    .encabezadoLogo{
        position: relative;
        bottom: 1.5em;
        left: 1.5em;
    }

    .encabezadoTitulo{
        right: 4.5em;
        top: 1em;
    }

    .articulo1{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 5em;
        grid-row-gap: 5em;
        align-items: start;
    }
    

    .div1Articulo1 { grid-area: 1 / 1 / 2 / 4; }
    .div2Articulo1 { grid-area: 2 / 1 / 3 / 2; }
    .div3Articulo1 { grid-area: 2 / 2 / 3 / 3; }
    .div4Articulo1 { grid-area: 2 / 3 / 3 / 4; }
}

/* P A G I N A--T R A B A J O S */

.contenedorVideos{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenedorVideos div{
    margin-bottom: 2em;
    transition: transform .2s;
    &:hover {
        transform: scale(1.1); 
    }
}

@media screen and (min-width: 600px) 
{
    .contenedorVideos{
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
}

@media screen and (min-width: 1024px)
{
    .contenedorVideos{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }
}

/* P A G I N A--T R A T A M I E N T O S */

.centradoSection1{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    text-align: center;
}

.centradoSection2{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    text-align: center;
}

.tarjeta{
    display:flex;
    flex-direction:column;
    border: 1px solid lightgray;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
    border-radius:15px;
    margin: 1.5em 0em;
    
    .tituloTarjeta{
    padding: 10px 10px 0 10px;;
    }
    .cuerpoTarjeta{
    padding: 10px;
        img{
            width: 100%;
        }
    }
    .parrafoTarjeta{
        margin-top: 1em;
        text-align: justify;
    }
}

.videoMuestra{
    margin: 1em 0em;
    border-radius: 0.5em;
    box-shadow: 2px 2px 8px 4px #d3d3d3d1;
}

@media screen and (min-width: 1024px)
{
    .centradoSection1{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

            h2{
                padding-top: 0.5em;
            }

            p{
                width: 70%;
            }
    }
    .contenedorTarjetas{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .tarjeta{
            margin: 1.5em 1em;
        }
    }
}

/*P A G I N A--P R O D U C T O S*/

.sectionProductos{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    padding: 2em;
        .buscadorProductos{
            form{
                display: flex;
                flex-direction: row;
                p{
                    margin: 0;
                }
            }
        }
        .contImagenes{
            display: grid;
            grid-template-columns: 1fr 1fr;
        }
}

@media screen and (min-width: 1024px)
{
    .sectionProductos{
        .contAsideImagenes{
            display: flex;
            flex-direction: row-reverse;
            margin-top: 3em;
                .contImagenes{
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;
                }
                .listaProductos{
                    margin-top: 1em;
                }
        }
        
    }
}

/* P A G I N A--N O S O T R O S */

.conteNosotros1{
    display: flex;
    flex-direction: column;
    padding: 2em;
    align-items: center;
    text-align: center;
}

.conteNosotros2{
    @extend .conteNosotros1;
        div{
            img{
                width: 100%;
                border-style: solid;
            }
        }

        p{
            margin-top: 1em;
            text-align: justify;
        }
}

@media screen and (min-width: 1024px)
{
    .art1{
        display: flex;
        flex-direction: row;
        align-items: center;
            p{
                margin-left: 2em;
            }
    }

    .art2{
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
            p{
                margin-right: 2em;
            }
    }

    .art3{
        @extend .art1
    }
}

/* P A G I N A--C O N T A C T O */

.contenedorContacto{
    padding: 2em;
    text-align: center;
        form{
            display: flex;
            flex-direction: column;
            background-color: rgb(24 24 24 / 98%);
            border-radius: 1em;
            color: white;
            width: 90%;
            max-width: 600px;
            margin: auto;
                legend{
                    background-color: #111111;
                    box-shadow: 0px 2px 4px black;
                    border-radius: 5px 5px 0px 0px;
                }
                label{
                    margin: 0.5em 0em;
                }
                input{
                    margin:0em 2em;
                }
                h6{
                    margin: 1em 0em;
                }
                textarea{
                    margin: 0em 1em;
                }
                .contenedorBotones{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    margin-bottom: 1em;
                        input{
                            width: 25%;
                            border-style: none;
                            background-color: #ffffff;
                            border-radius: 2px;
                            color: rgb(0, 0, 0);
                            box-shadow: 0px 2px 5px black;
                                &:hover{
                                    color: #ffffff;
                                    transition: 0.8s;
                                }
                        }
                        .enviar:hover{
                            background-color: rgb(57, 149, 118);
                        }
                        .reset:hover{
                            background-color: firebrick;
                        }
                    }
        }
        .contenedorUbicacion{
            margin: 2em 0em;
                h3{
                    padding: 0;
                }
        }
}