* {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

h1 {
  color: aliceblue;
}

/* E N C A B E Z A D O */
@media screen and (min-width: 350px) and (max-width: 600px) {
  .encabezado {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
  }
  .encabezado .encabezadoLogo {
    display: none;
  }
  .encabezado nav {
    height: 13vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .encabezado nav .bar-btn {
    color: aliceblue;
    font-size: 1.5em;
    cursor: pointer;
  }
  .encabezado nav .nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    right: 0px;
    top: 100px;
    background-color: black;
    text-align: center;
    transition: all 1s;
  }
  .encabezado nav .nav-menu li {
    display: none;
    line-height: 5em;
    margin: 2em 0em;
    font-size: medium;
    transition: all 1s;
  }
  .encabezado nav .nav-menu li a {
    text-transform: uppercase;
    font-weight: 600;
  }
  .encabezado nav .nav-menu li a.active, .encabezado nav .nav-menu li a:hover {
    color: black;
    transition: 0.3s;
  }
  .encabezado nav ul li {
    list-style: none;
  }
  .encabezado nav ul li a {
    text-decoration: none;
    color: white;
  }
  .encabezado #check {
    display: none;
  }
  .encabezado #check:checked ~ .nav-menu {
    height: 100vh;
  }
  .encabezado #check:checked ~ .nav-menu li {
    display: block;
  }
}
li {
  list-style-type: none;
}
li a {
  text-decoration: none;
  color: aliceblue;
}
li a:hover {
  border-radius: 0.5em;
  background-color: aliceblue;
  color: black;
}

/* F O O T E R */
.footerFlex {
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.footerFlex .infoHorarios {
  margin-left: 2em;
}
.footerFlex .datosPagina {
  padding-left: 2em;
}
.footerFlex .redes li {
  list-style-type: none;
  margin: 1em;
}

/* ESTILO PARA PARRAFOS EN RESOLUCIONES GRANDES */
@media screen and (min-width: 1024px) {
  p {
    font-size: large;
  }
}
/* L A Y O U T--G R I D--I N D E X */
header {
  height: 15vh;
  width: 100%;
  background-color: black;
  grid-area: "header";
}

footer {
  background-color: black;
  color: aliceblue;
  grid-area: "footer";
}

.seccion1 {
  grid-area: "seccion1";
}

.seccion2 {
  grid-area: "seccion2";
}

.seccion3 {
  grid-area: "seccion3";
}

.bodyGrids {
  width: 100%;
  display: grid;
  grid-template-areas: "header" "seccion1" "seccion2" "seccion3" "footer";
}

/* S E C C I O N E S--I N D E X*/
h2, h3 {
  text-align: center;
  padding-bottom: 1.5em;
  font-weight: bold;
}

.paddingtop {
  padding-top: 1em;
}

.articulo1 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2em;
}

.fondoOscuro {
  background-color: black;
  box-shadow: 2px 2px 8px 4px rgba(140, 140, 140, 0.8196078431);
}

.articulo2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  align-items: center;
  justify-items: center;
}

.div1 {
  grid-area: 1/1/2/2;
}

.div2 {
  grid-area: 2/1/3/2;
}

.div3 {
  grid-area: 1/2/3/3;
}

.div1 {
  padding: 2em;
}

.div2 {
  padding-left: 1.5em;
  padding-bottom: 4.5em;
}

/* M E D I A--Q U A R I E S--I N D E X */
@media screen and (min-width: 600px) {
  body {
    font-size: 1em;
  }
  #check {
    display: none;
  }
  .bar-btn {
    display: none;
  }
  .encabezado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25vh;
  }
  nav ul li {
    display: inline;
    margin: 0.5em;
  }
  .articulo1 {
    margin: 2em;
  }
  .articulo2 {
    margin: 2em;
  }
  .footerFlex {
    height: 25vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .datosPagina {
    margin-left: 1em;
  }
}
@media screen and (min-width: 1024px) {
  .encabezado {
    height: 20vh;
    width: 100%;
    display: flex;
    flex-direction: row;
  }
  .encabezadoLogo {
    position: relative;
    bottom: 1.5em;
    left: 1.5em;
  }
  .encabezadoTitulo {
    right: 4.5em;
    top: 1em;
  }
  .articulo1 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 5em;
    grid-row-gap: 5em;
    align-items: start;
  }
  .div1Articulo1 {
    grid-area: 1/1/2/4;
  }
  .div2Articulo1 {
    grid-area: 2/1/3/2;
  }
  .div3Articulo1 {
    grid-area: 2/2/3/3;
  }
  .div4Articulo1 {
    grid-area: 2/3/3/4;
  }
}
/* P A G I N A--T R A B A J O S */
.contenedorVideos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorVideos div {
  margin-bottom: 2em;
  transition: transform 0.2s;
}
.contenedorVideos div:hover {
  transform: scale(1.1);
}

@media screen and (min-width: 600px) {
  .contenedorVideos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
  }
}
@media screen and (min-width: 1024px) {
  .contenedorVideos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
}
/* P A G I N A--T R A T A M I E N T O S */
.centradoSection1 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  text-align: center;
}

.centradoSection2 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  text-align: center;
}

.tarjeta {
  display: flex;
  flex-direction: column;
  border: 1px solid lightgray;
  box-shadow: 2px 2px 8px 4px rgba(211, 211, 211, 0.8196078431);
  border-radius: 15px;
  margin: 1.5em 0em;
}
.tarjeta .tituloTarjeta {
  padding: 10px 10px 0 10px;
}
.tarjeta .cuerpoTarjeta {
  padding: 10px;
}
.tarjeta .cuerpoTarjeta img {
  width: 100%;
}
.tarjeta .parrafoTarjeta {
  margin-top: 1em;
  text-align: justify;
}

.videoMuestra {
  margin: 1em 0em;
  border-radius: 0.5em;
  box-shadow: 2px 2px 8px 4px rgba(211, 211, 211, 0.8196078431);
}

@media screen and (min-width: 1024px) {
  .centradoSection1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }
  .centradoSection1 h2, .centradoSection1 h3 {
    padding-top: 0.5em;
  }
  .centradoSection1 p {
    width: 70%;
  }
  .contenedorTarjetas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .contenedorTarjetas .tarjeta {
    margin: 1.5em 1em;
  }
}
/*P A G I N A--P R O D U C T O S*/
.sectionProductos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  text-align: center;
  padding: 2em;
}
.sectionProductos .buscadorProductos form {
  display: flex;
  flex-direction: row;
}
.sectionProductos .buscadorProductos form p {
  margin: 0;
}
.sectionProductos .contImagenes {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media screen and (min-width: 1024px) {
  .sectionProductos .contAsideImagenes {
    display: flex;
    flex-direction: row-reverse;
    margin-top: 3em;
  }
  .sectionProductos .contAsideImagenes .contImagenes {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .sectionProductos .contAsideImagenes .listaProductos {
    margin-top: 1em;
  }
}
/* P A G I N A--N O S O T R O S */
.conteNosotros1, .conteNosotros2 {
  display: flex;
  flex-direction: column;
  padding: 2em;
  align-items: center;
  text-align: center;
}

.conteNosotros2 div img {
  width: 100%;
  border-style: solid;
}
.conteNosotros2 p {
  margin-top: 1em;
  text-align: justify;
}

@media screen and (min-width: 1024px) {
  .art1, .art3 {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .art1 p, .art3 p {
    margin-left: 2em;
  }
  .art2 {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
  }
  .art2 p {
    margin-right: 2em;
  }
}
/* P A G I N A--C O N T A C T O */
.contenedorContacto {
  padding: 2em;
  text-align: center;
}
.contenedorContacto form {
  display: flex;
  flex-direction: column;
  background-color: rgba(24, 24, 24, 0.98);
  border-radius: 1em;
  color: white;
  width: 90%;
  max-width: 600px;
  margin: auto;
}
.contenedorContacto form legend {
  background-color: #111111;
  box-shadow: 0px 2px 4px black;
  border-radius: 5px 5px 0px 0px;
}
.contenedorContacto form label {
  margin: 0.5em 0em;
}
.contenedorContacto form input {
  margin: 0em 2em;
}
.contenedorContacto form h6 {
  margin: 1em 0em;
}
.contenedorContacto form textarea {
  margin: 0em 1em;
}
.contenedorContacto form .contenedorBotones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 1em;
}
.contenedorContacto form .contenedorBotones input {
  width: 25%;
  border-style: none;
  background-color: #ffffff;
  border-radius: 2px;
  color: rgb(0, 0, 0);
  box-shadow: 0px 2px 5px black;
}
.contenedorContacto form .contenedorBotones input:hover {
  color: #ffffff;
  transition: 0.8s;
}
.contenedorContacto form .contenedorBotones .enviar:hover {
  background-color: rgb(57, 149, 118);
}
.contenedorContacto form .contenedorBotones .reset:hover {
  background-color: firebrick;
}
.contenedorContacto .contenedorUbicacion {
  margin: 2em 0em;
}
.contenedorContacto .contenedorUbicacion h3 {
  padding: 0;
}/*# sourceMappingURL=sass.css.map */